@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(89, 180, 184);
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
  color:rgb(6, 118, 146);
  font-weight: bold;
}

h6,
h4,
h3 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h3 {
  font-family: 'Lobster', cursive, sans-serif;
  color:rgb(223, 202, 7)
}

#sketch-all {
    background-color: #c51f1f;
    height: 600px;
    width: 750px;
    border: 5px solid #c51f1f;
    border-bottom: 8px solid #960f0f;
    border-right: 8px solid #960f0f;
    border-radius: 35px;
    flex-shrink: 0;
}

#sketch-area {
  background-color: #999999;
  height: 400px;
  width: 600px;
  border-left: 5px solid #960f0f;
  border-top: 5px solid #960f0f;
  border-bottom: 5px solid #dd9f9f;
  border-right: 5px solid #dd9f9f;
  border-radius: 10px;
}


#sketch-top {
    height: 75px;
    justify-content: center;
    align-items: center;
}

#sketch-mid {
    justify-content: center;
    height: 400px;
}

#sketch-bottom {
    height: 125px;
    align-items: center;
    justify-content: space-between;
}

body,
.container {
    display: flex;
}

body,
.column {
    flex-direction: column;
}

.rez-slider {
    width: 100px;
}

#control-panel {
    margin: 8px 0 0 0;
    background-color: rgb(240, 243, 225);
    border-top: 5px solid #960f0f;
    border-left: 5px solid #960f0f;
    border-bottom: 5px solid #dd9f9f;
    border-right: 5px solid #dd9f9f;
    align-items: center;
    padding: 10px 20px;
    gap: 10px
}

#rez-panel {
    align-items: center;
    width: 115px;
}

#button-reset {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(23, 116, 43);
    background-color: rgb(9, 231, 76);
    border: 2px solid rgb(18, 156, 60);
    border-radius: 5px;
    height: 2.5em;
    width: 5em;
}

#toggle-top,
#toggle-bottom {
    align-items: center;
}

#toggle-panel,
#rez-top,
#toggle-left,
#toggle-bottom,
#toggle-top {
    gap: 5px;
}

.knob {
    background-color: white;
    border-bottom: 5px solid #960f0f;
    border-right: 5px solid #960f0f;
    height: 80px;
    width: 80px;
    margin: 0 30px;
    border-radius: 40px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }